// colors

$whiteTitle: #e0e0e0;
$whiteBtn: #ffffff;
$whiteTitleMain: rgba(255, 255, 255, 0.8);
$blackTitle: #000000;
$blackText: rgba(0, 0, 0, 0.7);
$blackTitleMain: rgba(0, 0, 0, 0.8);
$redBtn: #ff2d2d;
$redBtnFooter: #ff3b3b;
$redBtnBorder: #ff0000;
$redIcon: #ff3b4a;
$blackMailText: rgba(44, 44, 44, 0.7);
$lightGrayFooter: #b8b8b8;

// fonts

$mainFont: 'Open Sans',
sans-serif;
$iconFont: 'socialico';

// size

$titleOneSize: 4.2rem;
$titleTwoSize: 4.15rem;
$titleH3Size: 3.05rem;
$titleH4Size: 2.4rem;
$textOne: 1.65rem;
$textTwo: 1.6rem;

// screen

$tablet: 'min-width: 767px';
$desktop: 'min-width: 1024px';
$projector: 'min-width: 1200px';

// shadow

$mainShadow: -0.3px -2px 35px 0 rgba(0, 1, 1, 0.3);