.about-us {
    &__block {


        &-h2 {
            @include h2();
        }

        &-p2 {
            @include p2();
        }

        &-btn-white {
            @include btn($color: #ff2d2d, $bgc: #ffffff);
            width: 22.7rem;
            height: 5.5rem;
            padding-top: 0.6rem;
            display: inline-block;

            &:hover {
                box-shadow: $mainShadow;
            }
        }
    }

    &__tools {
        &-item {
            &-h4 {
                @include h4();
            }

            &-p2 {
                @include p2();
            }
        }
    }
}